* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gpd-clm{
  padding:5px 0;
}
.gpd-grid{
  min-height:auto;
  padding:10px 0;
}
.gpd-header{
  margin:0;
}
#ip0g{
  min-height:95vh;
  color:#ffffff;
  background-image:url('https://cdn.grapedrop.com/u78fc0c652baa4df1a1b3109147139f84/98787e92a89c4885a6f3dc77c6357f8a_lp_bg.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:cover;
}
.gpd-shape-divider > svg{
  height:100%;
  width:100%;
  transform:scaleY(-1);
}
.gpd-shape-divider--fl-v > svg{
  transform:scaleY(1);
}
.gpd-shape-divider--fl-h > svg{
  transform:scaleX(-1) scaleY(-1);
}
.gpd-shape-divider--fl-v-h > svg{
  transform:scaleY(1) scaleX(-1);
}
.gpd-shape-divider > svg > path{
  fill:currentColor;
}
.gpd-shape-divider-inv > path{
  transform:scale(-1, -1) translate(-100%, -100%);
}
.form{
  padding:30px 30px 30px 30px;
  background-color:rgba(0,0,0,0);
  border:0 none rgba(0,0,0,0.15);
}
.gpd-navbar{
  width:100%;
}
#i6myg{
  padding:0;
}
#i6jtj{
  position:absolute;
  z-index:10;
}
#i7u43{
  opacity:0.7;
  font-size:0.8rem;
}
#id3ai{
  padding:150px 30px 30px 30px;
  border-radius:0 0 0 0;
  box-shadow:0 0 0 rgba(0,0,0,0);
}
#iyrzk{
  font-size:50px;
  padding:5px 0 0 10px;
}
#i3ln7{
  padding:10px 10px 10px 10px;
  margin:0 0 10px 0;
}
#isf5e{
  padding:0 0 7px 100px;
}
#ixoo6{
  padding:7px 10px 7px 10px;
  margin:0 0 10px 0;
}
#irlyz{
  padding:7px 10px 7px 10px;
  margin:0 0 10px 0;
}
#i0n74{
  padding:7px 10px 7px 10px;
}
#iru7x{
  margin:0 0 0 200px;
  background-color:#000001;
}
#igd49{
  font-size:12px;
  padding:0 0 0 100px;
  margin:0 10px 0;
}
#ir7ah{
  margin:3px 4px 3px 100px;
  padding:0 0 0;
}
#i6b1y{
  background-image:url('https://cdn.grapedrop.com/u78fc0c652baa4df1a1b3109147139f84/de8f640fe3eb4c59938e03ffca292f99_ruby_pearl_co_logo.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:contain;
  margin:95px 0 0 100px;
  padding:30px 20px 0 0;
  border:5px solid #000000;
}
#iblo5{
  background-image:url('https://cdn.grapedrop.com/u78fc0c652baa4df1a1b3109147139f84/388ca73406a34d028ee79d09325beabb_vivid_logo.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:cover;
  margin:75px 0 0 100px;
  border:5px solid #000000;
}
#iwur3{
  background-image:url('https://cdn.grapedrop.com/u78fc0c652baa4df1a1b3109147139f84/9dc619f231fd44e39831ea43938cece9_nature_med_square_2023.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:contain;
  border:5px solid #000000;
  margin:95px 0 0 100px;
}

